@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap');
:root {
  --primary-color: rgb(17, 86, 102);
  --primary-color-darker: rgb(9, 48, 56);
  --white: rgb(255,255,255);
  --blue: rgb(60, 215, 232);
  --green: rgb(179, 206, 114);
  --dark-grey: rgb(45, 44, 44);
}

* {
  box-sizing: border-box;
  outline: 0;
}

body {
  margin: 0;
  padding: 0;
  background: var(--primary-color);
  font-family: 'Open sans', sans-serif;
  font-size: 1.3em;
  line-height: 1.5em;
}

.container {
  max-width: 640px;
  margin: 50px auto;
  background: #fff;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
}

.calculator{
  border: 2px solid grey;
  border-radius: 8px;
  margin: 0 auto;
  background-color: var(--primary-color-darker);
  width: 50%;
}

.display{
  border-radius: 8px;
  padding: 5px 0 5px 0;
  text-align: right;
  font-size: 25px;
}

.btn{
  /* text-align: center; */
  width: 4.3rem;
  font-weight: bold;
  font-size: 1rem;
  line-height: 4rem;
  border-radius: 50%;
}

.dark-grey{
  color: white;
  background-color: var(--dark-grey);
}

.white{
  background-color: var(--white);
}

.blue{
  background-color: var(--blue);
}

.green{
  background-color: var(--green);
}